[Unit]
Description=Flask Application
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/budget_tracker
ExecStart=/usr/bin/python3 /home/ec2-user/budget_tracker/app.py

[Install]
WantedBy=multi-user.target